<div class="skdslider">
    <ul id="demo1" class="slides">
        <li style="position: absolute; inset: 0px; display: list-item; opacity: 0.144232;">
            <img src="~/images/11.jpg" alt="">
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3>Buy Rice Products Are Now On Line With Us</h3>
            </div>
        </li>
        <li style="position: absolute; inset: 0px; display: none;">
            <img src="~/images/22.jpg" alt="">
            <div class="slide-desc">
                <h3>Whole Spices Products Are Now On Line With Us</h3>
            </div>
        </li>

        <li style="position: absolute; inset: 0px; display: list-item; opacity: 0.855768;">
            <img src="~/images/44.jpg" alt="">
            <div class="slide-desc">
                <h3>Whole Spices Products Are Now On Line With Us</h3>
            </div>
        </li>
    </ul><ul class="slide-navs" style="margin-left: -24px;"><li class="slide-nav-0 current-slide"><a></a></li><li class="slide-nav-1"><a></a></li><li class="slide-nav-2"><a></a></li></ul><a class="prev"></a><a class="next"></a><a class="play-control pause" style="display: none;"></a>
</div>