@model WebApp.Areas.Admin.Models.LoaiSP
<div class="main-menu-header">
    <div class="container">
        <div id="nav-menu">
            <ul>
                <li class="current-menu-item"><a asp-action="_homePartial">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li>
                    <a href="#">Sản phẩm</a>
                    <ul>
                        @foreach (LoaiSP item in ViewBag.ListLSP)
                        {
                            <li><a asp-controller="" asp-action="_productinCategory" asp-route-id="@item.MaLoai"> @item.TenLoai</a></li>
                        }
                    </ul>


                </li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>