@model WebApp.Areas.Admin.Models.SanPham
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 order-lg-1 order-0">
    <div class="product-section">
        <h2 class="title-product">
            <a href="#" class="title">Sản phẩm nổi bật</a>
            <div class="bar-menu"><i class="fa fa-bars"></i></div>
            <div class="list-child">
                <ul>
                    <li><a href="#">Điện thoại</a></li>
                    <li><a href="#">Máy tính bảng</a></li>
                    <li><a href="#">Laptop</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </h2>
        <div class="content-product-box">
            <div class="row">
                @foreach (SanPham item in ViewBag.Product)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="item-product">
                            <div class="thumb">

                                <a href="#"><img src="~/img/pro/@item.Hinh?@ViewData["rand"]" alt=""></a>
                                <span class="sale">Giảm <br>15%</span>
                                <div class="action">
                                    <a asp-route="addcart"
                                       asp-route-productid="@item.Ma"
                                       style="width:100%;height:100%">Thêm vào giỏ hàng</a>

                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="info-product">
                                <h4><a href="#">@item.TenSP</a></h4>
                                <div class="price">
                                    <span class="price-current">@item.Gia VNĐ</span>
                                </div>
                                <a href="detail.html" class="view-more">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                }
                <!---->
            </div>
        </div>
    </div>
</div>