<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 order-lg-1 order-0">
    <div class="product-section">
        <h2 class="title-product">
            <a href="#" class="title">Sản phẩm nổi bật</a>
            <div class="bar-menu"><i class="fa fa-bars"></i></div>
            <div class="list-child">
                <ul>
                    <li><a href="#">Điện thoại</a></li>
                    <li><a href="#">Máy tính bảng</a></li>
                    <li><a href="#">Laptop</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </h2>
        <div class="content-product-box">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <!---->
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp.png" alt=""></a>
                            <span class="sale">Giảm <br>15%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại iPhone Xs Max 256GB</a></h4>
                            <div class="price">
                                <span class="price-current">28.990.000₫</span>
                                <span class="price-old">33.990.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <a href="#"><img src="https://phongtrodn.com/wp-content/uploads/2020/02/huykira.png" alt=""></a>
    <br>
    <br>
    <div class="product-section">
        <h2 class="title-product">
            <a href="#" class="title">Điện thoại</a>
            <div class="bar-menu"><i class="fa fa-bars"></i></div>
            <div class="list-child">
                <ul>
                    <li><a href="#">Iphone</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Sony</a></li>
                    <li><a href="#">HTC</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </h2>
        <div class="content-product-box">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp.png" alt=""></a>
                            <span class="sale">Giảm <br>15%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại iPhone Xs Max 256GB</a></h4>
                            <div class="price">
                                <span class="price-current">28.990.000₫</span>
                                <span class="price-old">33.990.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp2.png" alt=""></a>
                            <span class="sale">Giảm <br>10%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại OPPO A5 (2020) 128GB</a></h4>
                            <div class="price">
                                <span class="price-current">4.790.000₫</span>
                                <span class="price-old">4.790.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp.png" alt=""></a>
                            <span class="sale">Giảm <br>15%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại iPhone Xs Max 256GB</a></h4>
                            <div class="price">
                                <span class="price-current">28.990.000₫</span>
                                <span class="price-old">33.990.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp2.png" alt=""></a>
                            <span class="sale">Giảm <br>10%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại OPPO A5 (2020) 128GB</a></h4>
                            <div class="price">
                                <span class="price-current">4.790.000₫</span>
                                <span class="price-old">4.790.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp2.png" alt=""></a>
                            <span class="sale">Giảm <br>10%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại OPPO A5 (2020) 128GB</a></h4>
                            <div class="price">
                                <span class="price-current">4.790.000₫</span>
                                <span class="price-old">4.790.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp.png" alt=""></a>
                            <span class="sale">Giảm <br>15%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại iPhone Xs Max 256GB</a></h4>
                            <div class="price">
                                <span class="price-current">28.990.000₫</span>
                                <span class="price-old">33.990.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp2.png" alt=""></a>
                            <span class="sale">Giảm <br>10%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại OPPO A5 (2020) 128GB</a></h4>
                            <div class="price">
                                <span class="price-current">4.790.000₫</span>
                                <span class="price-old">4.790.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item-product">
                        <div class="thumb">
                            <a href="#"><img src="images/sp.png" alt=""></a>
                            <span class="sale">Giảm <br>15%</span>
                            <div class="action">
                                <a href="#" class="buy"><i class="fa fa-cart-plus"></i> Mua ngay</a>
                                <a href="#" class="like"><i class="fa fa-heart"></i> Yêu thích</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="info-product">
                            <h4><a href="#">Điện thoại iPhone Xs Max 256GB</a></h4>
                            <div class="price">
                                <span class="price-current">28.990.000₫</span>
                                <span class="price-old">33.990.000₫</span>
                            </div>
                            <a href="detail.html" class="view-more">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>