@model WebApp.Areas.Admin.Models.LoaiSP
<div class="content-cat">
    <ul>
        @foreach (LoaiSP item in ViewBag.ListLSP)
        {
        <li><a asp-controller="" asp-action="_productinCategory" asp-route-id="@item.MaLoai">@item.TenLoai</a></li>
        }
    </ul>
</div>