@model WebApp.Areas.Admin.Models.Donhang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Donhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datecheckout" class="control-label"></label>
                <input asp-for="Datecheckout" class="form-control" />
                <span asp-validation-for="Datecheckout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaUser" class="control-label"></label>
                <select asp-for="MaUser" class ="form-control" asp-items="ViewBag.MaUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
