@model WebApp.Areas.Admin.Models.SanPham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>SanPham</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <input type="hidden" asp-for="Ma" />
                <div class="form-group">
                    <label asp-for="SN" class="control-label"></label>
                    <input asp-for="SN" class="form-control" />
                    <span asp-validation-for="SN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenSP" class="control-label"></label>
                    <input asp-for="TenSP" class="form-control" />
                    <span asp-validation-for="TenSP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgaySX" class="control-label"></label>
                    <input asp-for="NgaySX" class="form-control" />
                    <span asp-validation-for="NgaySX" class="text-danger"></span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ful" name="ful">
                    <label class="custom-file-label" for="ful">Choose file</label>
                </div>
                <input asp-for="Hinh" class="control-label" type="hidden" />
                <img style="max-height:100px; width:auto" ;img id="imgPre" src="~/img/pro/@Model.Hinh?@{new Random().Next(1, 1000);} class="img-thumbnail" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Dophangiai" class="control-label"></label>
                    <input asp-for="Dophangiai" class="form-control" />
                    <span asp-validation-for="Dophangiai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="MoTa" class="control-label"></label>
                    <input asp-for="MoTa" class="form-control" />
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gia" class="control-label"></label>
                    <input asp-for="Gia" class="form-control" />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MaLoai" class="control-label"></label>
                    <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                    <span asp-validation-for="MaLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ram" class="control-label"></label>
                    <input asp-for="Ram" class="form-control" />
                    <span asp-validation-for="Ram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaThuonghieu" class="control-label"></label>
                    <select asp-for="MaThuonghieu" class="form-control" asp-items="ViewBag.MaThuonghieu"></select>
                    <span asp-validation-for="MaThuonghieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cpu" class="control-label"></label>
                    <input asp-for="Cpu" class="form-control" />
                    <span asp-validation-for="Cpu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    @Html.TextAreaFor(model => model.Content, new { @id = "editor", @class = "form-control", @rows = "10" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });
    </script>

    <script src="~/ckeditor5-build-classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
